.ButtonWrapper {
    display: inline-block;
    border: none;
    background-color: rgba(0,0,0,0.3);
    padding: 1rem 1.5rem;
    transition: background-color ease-in-out 0.3s;
    color: white;
    font-weight: 300;
}

.ButtonWrapper:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.75);
}

.highlighted {
    background-color: rgba(0,0,0,0.75);
}