.ButtonWrapper {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    border: none;
    padding: 1rem;
    transition: background-color ease-in-out 0.3s;
    color: white;
    text-shadow: 2px 2px 5px black;  
    font-weight: 300;
    font-size: 1rem;
    position: relative;
}

.ButtonLabel {
    position: absolute;
    visibility: hidden;
    top: 100%; 
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: all ease-in 0.3s;
    display: inline-block;
    margin: 0;
    pointer-events: none;
}

.ButtonWrapper:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.75);
}

.ButtonWrapper:hover .ButtonLabel, .highlighted .ButtonLabel {
    top: 120%;
    opacity: 1;
    visibility: visible;
}

.highlighted {
    background-color: rgba(0,0,0,0.75);
}

@media(min-width: 530px) {
    .ButtonWrapper {
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }
}