.AppBackground {
    height: 100%;
    background-image: url('./../../assets/images/mars.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AppContentWrapper {
    color: white;
    text-shadow: 2px 2px 5px black;  
    max-width: 1400px;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.AppGridWrapper {
    display: grid;
    grid-template-areas: 
        'header'
        '.'
        'weatherSummary'
        'cards';

    max-width: 100%;
}

.AppHeaderArea {
    grid-area: header;
}

.AppWeatherSummaryArea {
    grid-area: weatherSummary;
}

.AppWeatherDetailsArea {
    grid-area: weatherDetails;
    width: 100%;
    height: 100%;
    background-color: white;
}

.AppCardsArea {
    grid-area: cards;
}

@media(min-width: 530px) {
    .AppGridWrapper {
        grid-template-areas: 
            'header . .'
            'weatherSummary . .'
            'cards cards cards';
    }
}