.AppBackground {
    height: 100%;
    background-image: url('./../../assets/images/mars.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AppContentWrapper {
    color: white;
    text-shadow: 2px 2px 5px black;  
    max-width: 1400px;
    width: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.AppFlexWrapper {
    display: flex;
    width: 100%;
}

.AppFlexColumn {
    max-width: 45%;
    width: 100%;
}